/* Общий стиль для контейнера */
.admin-panel {
  display: flex;
  flex-direction: row;
  height: 100vh; /* Занимаем всю высоту экрана */
}


/* Стили для таблицы */
.table-container {
  flex-grow: 1; /* Занимаем оставшееся пространство */
  padding: 20px; /* Внутренние отступы */
  overflow: auto; /* Прокрутка при необходимости */
}

/* Стили для таблицы */
table {
  width: 80%; /* Полная ширина таблицы */
  border-collapse: collapse; /* Схлопывание границ */
}

th, td {
  padding: 10px; /* Внутренние отступы ячеек */
  text-align: left; /* Выравнивание текста */
}

th {
  background-color: #007bff; /* Цвет фона заголовков */
  color: white; /* Цвет текста заголовков */
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
  .admin-panel {
    flex-direction: column; /* Вертикальная компоновка на маленьких экранах */
  }

  .user-menu {
    width: 100%; /* Меню занимает всю ширину */
    box-shadow: none; /* Убираем тень на маленьких экранах */
  }

  .table-container {
    padding: 10px; /* Уменьшаем отступы */
  }
}
